.pulse {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.9);
}

.appear {
    animation: appear 1s ease-in;
}

.pulsate {
    animation: pulse 3s infinite;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  
@keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(228, 228, 228, 0.945);
        background: #ffffff00;
    }
    70% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
        background: #ffffff86;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(138, 138, 138, 0);
    }
}

.shrink {
    transition: 0.5s;
    top: 275px !important;
    height: 0px !important;
}

.center {
    transition: 0.5s;
    left: 112.5px !important;
}

.centerPopup {
    /* 79.5 */
    right: 121.5px !important;
}

.removeIconOpacity {
    opacity: 0;
}

.shrinkIcon {
    height: 0px !important;
    margin: 0;
}

.frontFlip {
	transform: perspective(900px) rotateY(-180deg);
    z-index: 1;
}

.backFlip {
	transform: perspective(900px) rotateY(0deg);
    z-index: 2;
}

.showButton {
    display: block !important;
    opacity: 1 !important;
}

.pulsingImage {
    filter: drop-shadow(2px 2px 2px white) drop-shadow(-1px -1px 0px rgb(255, 255, 180));
    animation: upDown 1.8s linear infinite;
}

@keyframes upDown {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.imageHover {
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.7)) drop-shadow(-1px -1px 0px rgba(255, 255, 123, 0.7)) !important;
    animation: none !important;
}

.imageDown {
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.4)) drop-shadow(-1px -1px 0px rgba(255, 255, 123, 0.4)) !important;
}