.pulse {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.9);
}

.appear {
    animation: appear 1s ease-in;
}

.pulsate {
    animation: pulse 3s infinite;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  
@keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(228, 228, 228, 0.945);
        background: #ffffff00;
    }
    70% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
        background: #ffffff86;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(138, 138, 138, 0);
    }
}

.shrink {
    transition: 1s;
    top: 275px !important;
    height: 0px !important;
}

.center {
    transition: 1s;
    left: 112.5px !important;
}

.removeIconOpacity {
    opacity: 0;
}

.shrinkIcon {
    height: 0px !important;
    margin: 0;
}

.frontFlip {
	transform: perspective(900px) rotateY(-180deg);
    z-index: 1;
}

.backFlip {
	transform: perspective(900px) rotateY(0deg);
    z-index: 2;
}