@font-face{
    font-family: Fedra;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Medium.otf');
}

@font-face{
    font-family: FedraBook;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Book.otf');
}

@font-face{
    font-family: FedraDemi;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Demi.otf');
}

@font-face {
    font-family: FedraBold;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fedra;
    overflow: hidden;
}

body {
    background-color: #F3F3F3;
}

.flash {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    transition: 0.5s;
    opacity: 0;
    z-index: 999;
    pointer-events: none;
}

.flash div:first-child {
    position: absolute;
    top: 0;
}

.flash div:last-child {
    position: absolute;
    bottom: 0;
}

#green div:first-child {
    height: 151px;
    width: 900px;
    opacity: 0.5;
    transform: rotate(180deg);
    background: linear-gradient(180deg, rgba(238,238,238,0) 0%, #13da59 100%);
}

#green div:last-child {
    height: 151px;
    width: 900px;
    opacity: 0.5;
    background: linear-gradient(180deg, rgba(238,238,238,0) 0%, #13da59 100%);
}

#red div:first-child {
    height: 151px;
    width: 900px;
    opacity: 0.5;
    transform: rotate(180deg);
    background: linear-gradient(180deg, rgba(238,238,238,0) 0%, #FF6C70 100%);
}

#red div:last-child {
    height: 151px;
    width: 900px;
    opacity: 0.5;
    background: linear-gradient(180deg, rgba(238,238,238,0) 0%, #FF6C70 100%);
}

#left, #right {
    height: 40px;
    width: 40px;
    background-color: #F3F3F3;
    box-shadow: 2px -1px 2px 0 #FEFEFE, -1px 2px 2px 0 rgba(0,0,0,0.16);
    border-radius: 100%;
    position: absolute;
    top: 267px;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: 0.5s;
}

#left {
    left: 38px;
}

#right {
    transform: scaleX(-1);
    right: 38px;
}

#right img {
    transform: scaleX(-1);
}

#left img, #right img {
    margin-top: 1px;
    width:  60%;
    height: 60%;
    position: relative;
}

.circle {
    height: 34px;
    width: 34px;
    background-color: #F3F3F3;
    box-shadow: -1px 1px 1px 0 rgba(254,254,254,0.48);
    border-radius: 100%;
    position: relative;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.circle:active {
    box-shadow: none;
}

.container {
    position: absolute;
	width: 900px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background {
    border-radius: 19px;
    width: 675px;
    height: 451px;
    position: absolute;
    left: 192px;
    top: 50px;
    box-shadow: 5px 5px 5px 0 rgba(222,222,230,0.5), -3px -3px 5px 0 #FEFEFE;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    transition-timing-function: ease-out;
}

#background img, #outcome {
    position: absolute;
    transition: 0.1s;
    border-radius: 15px;
    pointer-events: none;
    width: 657px;
    height: 433px;
}

#background #poster {
    transition: 2s;
}

#outcome {
    border-radius: 15px;
}

.outcome {
    width: 657px;
    height: 433px;
    position: absolute;
    transition: 0.5s;
}

#poster {
    opacity: 0.2;
    filter: blur(2px);
}

#background p {
    transition: 0.4s;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #596B80;
    width: 600px;
}

#intro {
    z-index: 10;

    width: 569px;
    background: #f3f3f3;
    border-radius: 15px;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 5px 5px 2px 0 rgb(222 222 230 / 50%), -3px -3px 2px 0 #fefefe;
}

.back p {
	overflow: visible;
	height: 78.81px;
	width: 465px !important;
	font-family: FedraDemi;
	letter-spacing: 0;
	color: #FFFFFF !important;
	font-size: 12px !important;
	line-height: 15px !important;
	position: absolute;
	left: 99px;
	top: 230px;
}

#icons {
    position: absolute;
    width: 130px;
    height: 50px;
    left: 36px;
    top: 250px;
    bottom: 250px;
    border-radius: 19px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#iconsOverlay {
    pointer-events: none;
    position: absolute;
    width: 130px;
    height: 50px;
    left: 36px;
    top: 250px;
    bottom: 250px;
    border-radius: 19px;
    box-shadow: inset -2px -2px 5px 0 #FFFFFF, inset 2px 3px 3px 1px rgba(222,222,230,0.72);
}

#play {
    width: 120px;
    height: 42px;
    box-shadow: 5px 5px 5px 0 rgba(222,222,230,0.5), -3px -3px 5px 0 #FEFEFE;
    border-radius: 15px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transition: 1s;
}

#play p {
    color: #686ACF;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}

#play:hover p {
    opacity: 0.7;
}

::-webkit-scrollbar {
    display: none;
}

#parent {
    overflow: auto;
    animation: popup 1s;
    width: 120px;
    padding-left: 16px;
}

@keyframes popup {
    from {
        padding-top: 1200px;
    }
    to {
        padding-top: 0;
    }
}

.icon {
    height: 88px;
    width: 88px;
    border-radius: 19px;
    background-color: #F3F3F3;
    box-shadow: 5px 5px 5px 0 rgba(222,222,230,0.5), -3px -3px 5px 0 #FEFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    transition: 0.5s;
}

.icon div {
    height: 78px;
    width: 78px;
    border-radius: 16px;
    background-color: rgba(225,232,241,0.38);

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:first-child {
    margin-top: 20px;
}

.icon:last-child {
    margin-bottom: 20px;
}

.grow {
    transition: 1s;
    left: 36px !important;
    top: 50px !important;
    width: 130px !important;
    height: 451px !important;
}

.offscreen {
    position: absolute;
    margin-right: 280px;
}

canvas {
    z-index: 1;
    pointer-events: none;
    transition: 1s;
    opacity: 0;
    border-radius: 15px;
}

#canvas {
    position: absolute;
    right: 42px;
    top: 50px;
    bottom: 49px;
    transition: 0.5s;
}

#items {
    text-align: center;
    width: 3%;
    height: 80%;
    background-color: rgb(218, 218, 218);
    margin-right: 1%;
    display: flex;
    flex-direction: column;
}

#items * {
    padding: 10%;
}

.box .front, .box .back {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    background-color: #F3F3F3;
}

.front {
	transform: perspective(900px) rotateY(0deg);
    transition-timing-function: ease-in-out;
    transition: 1s;
	z-index: 2;
}

.back {
	transform: perspective(900px) rotateY(180deg);
    transition-timing-function:ease-in-out;
    transition: 1s;
	z-index: 1;
}

#popup {
    opacity: 0;
    position: absolute;
    z-index: 10;
    bottom: 77px;
    right: 42px;
    height: 50px;
    width: 51px;
    border-radius: 8px 0 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3F3F3;
    transition: 0.5s;
    transition-timing-function: ease-out;
}

#popup p {
    position: absolute;
    top: 20px;
    width: 156px;
    height: 211px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FedraBold;
    color: #43698C;
    font-size: 11px;
    line-height: 16px;
    opacity: 0;
    transition: 0.2s;
}

#popupBtn {
    transition: 0.5s;
    border-radius: 5px;
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 38px;
    height: 38px;
    background-color: #F3F3F3;
    box-shadow: -1px -1px 1px 0 rgba(222,222,230,0.5), 1px 1px 1px 0 #FEFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#popupBtn img {
    position: absolute;
    transition: 0.1s;
    height: 50%;
}

#audioPause {
    height: 45% !important;
    opacity: 0;
}

.disabledPopupBtn {
    pointer-events: none;
    cursor: initial !important;
}

.disabledPopupBtn img {
    filter: grayscale(1);
    opacity: 0.5;
}

#msg {
    position: absolute;
    top: 0;
    left: 224px;
    z-index: 10;
    transition: 0.5s;
    cursor: pointer;

    height: 91px;
    width: 452px;
    border-radius: 19px;
    background-color: #F3F3F3;
    box-shadow: 1px 1px 1px 0 rgba(222,222,230,0.5), -1px -1px 1px 0 #FEFEFE;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg p {
    font-family: FedraBold;
    font-size: 11px;
    line-height: 16px;
    color: #43698C;
    width: 414px;
    height: 64px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    margin-top: 78px !important;
}